In [1]:
a = "Rishabh"

In [2]:
a

'Rishabh'

In [3]:
a1 = "Anshu"

In [4]:
a1

'Anshu'

In [6]:
l = [2,3,4,5,'Anshu','rishabh',45.89,True]

In [7]:
l

[2, 3, 4, 5, 'Anshu', 'rishabh', 45.89, True]

In [8]:
# The above mentioned is a list in which we can store all types of data types like int, char,string, bool, float.
# Even we can store list inside a list.

In [10]:
# There are two types indexing of values forward(postivie) and Backward(negative) in which forward indexing moves
# from left to right where 0 is starting point, backward indexing consist of negative values which moves right to 
# left side of the list or string, where it start from -1,-2,-3.....so on.

In [11]:
l[0]

2

In [12]:
l[-8]

2

In [13]:
# From above as we can see that in both postive and negative values with different indexing values its stating that in particular 
# it holds the same value which stores on 0 an -8

In [14]:
l[4]

'Anshu'

In [15]:
l[7]

True

In [17]:
l[2] = 3450

In [18]:
l

[2, 3, 3450, 5, 'Anshu', 'rishabh', 45.89, True]

As u can see i had changed the value of index no.2 value 4 to 3450. Changing up of the data is known a Mutable Object.

In [19]:
a[0]

'R'

In [20]:
a[0] = e

NameError: name 'e' is not defined

Now as u can see we used a string value in which changing of data is not possible. So it is a Immutable Object. Therefore, the object where the data can be modify that is known by 'Mutable Object'.
For Example: List

The objects where the data can't be modified that is known as 'Immutable Object'.
For Example: String

In [21]:
a = 'Eisahbh'

In [22]:
a

'Eisahbh'

By doing the above thing is not changing or modifying of data in this we are deleting the old data and creating a new data.