In [1]:
a = 10
if a > 10:
    print("Yes a is greater than 10")

In [2]:
a > 10

False

The code didnt printed the result because using comparing operator it comapred whether a is greater 
than 10 or not but it is not thats why it didnt printed the print statement.

In [3]:
a = 10
if a >= 10:
    print("yes a is greater than equal to 10")

yes a is greater than equal to 10

In [4]:
a >= 10

True

In [7]:
b = 20
if b > 30:
    print("yes b is greater than 30")
elif b < 40:
    print("yes b is lesser than 40")
else:
    print("this is my default")

yes b is lesser than 40

In [8]:
b > 30

False

In [9]:
b < 40

True

In [11]:
b = int(input())
if b > 30:
    print("yes b is greater than 30")
elif b < 40:
    print("yes b is lesser than 40")
elif b > 100:
    print(" yes b is greater than 100")
else:
    print("this is my default")

 111

yes b is greater than 30

In [13]:
b = int(input())
if b > 30:
    print("yes b is greater than 30")
elif b > 40:
    print("yes b is lesser than 40")
elif b > 100:
    print(" yes b is greater than 100")
else:
    print("this is my default")

 2

this is my default

In [14]:
type(b)

int

While Loop Condition :

In [1]:
n = 4
i = 1
while i < n:
    print(i)
    i = i+1

1
2
3

In [2]:
n = 4
i = 1
while i <= n:
    print(i)
    i = i+1

1
2
3
4

In a 'while' loop with an 'else' clause, the 'else' block will be executed when the 'while' loop terminates naturally. The 'else' block is not executed if the loop is exited using a 'break' statement.

In [4]:
n = 4
i = 1
while i < n:
    print(i)
    i = i+1
else:
    print("this is my else")

1
2
3
this is my else

In [6]:
n = 4
i = 1
while i < n:
    print(i)
    i = i+1
    if i == 3:
        break
else:
    print("this is my else")

1
2

In the provided code snippet, the 'else' condition print statement will not be executed due to the presence of the 'break' keyword. The purpose of using 'break' is to interrupt the execution flow, preventing the execution of the subsequent 'else' condition print statement.

For Loop :

In [7]:
s = "rishabh"
for i in s:
    print(i)

r
i
s
h
a
b
h

In [8]:
l = [2,3,4,5,"rishabh","anshu",True,45.678]

for i in l :
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [9]:
l = [2,3,4,5,"rishabh","anshu",True,45.678]

for i in l :
    print(type(i))
else:
    print("this will be executed once for loop will complete itself sucessfully")

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'float'>
this will be executed once for loop will complete itself sucessfully

In [12]:
l = [2,3,4,5,"rishabh","anshu",True,45.678]

for i in l :
    print(type(i))
    if i == 5 :
        break
else:
    print("this will be executed once for loop will complete itself sucessfully")

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [13]:
l

[2, 3, 4, 5, 'rishabh', 'anshu', True, 45.678]

In [14]:
l = [2,3,4,5,"rishabh","anshu",True,45.678]

for i in l :
    print(type(i))
    if i == 5 :
        continue 
    print(i)
else:
    print("this will be executed once for loop will complete itself sucessfully")

<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
<class 'str'>
rishabh
<class 'str'>
anshu
<class 'bool'>
True
<class 'float'>
45.678
this will be executed once for loop will complete itself sucessfully

"Continue" is a keyword that directly transfers control to the for loop. That's why the number 5 has not been printed, as indicated in the above code.

Range Function :

The 'range function' generates a sequence of numbers, but to make this sequence visible, you need to use it within a list.

In [15]:
range(10)

range(0, 10)

In [16]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]