ASSIGNMENT-1

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
# i) String

a = 'Hello, Myself Rishabh Kumar'

In [2]:
a

'Hello, Myself Rishabh Kumar'

In [3]:
type(a)

str

In [4]:
# ii) List

lis = [2,34,'Rishabh',23.5,True]

In [6]:
lis

[2, 34, 'Rishabh', 23.5, True]

In [7]:
# iii) Float

f = 43.6

In [8]:
f

43.6

In [9]:
type(f)

float

In [10]:
# iv) Tuple
 
t = (1,2,3,4,5)

In [11]:
t

(1, 2, 3, 4, 5)

In [12]:
type(t)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1

What will be the data type of the above given variable.

In [14]:
# Ans: i) var1 = ' '

var1 = ' '

In [15]:
type(var1)

str

In [16]:
# ii) 

var2 = '[ DS , ML ,Python]'

In [17]:
type(var2)

str

In [22]:
# iii) 

var3 = ['DS' , 'ML' , 'Python']

In [23]:
type(var3)

list

In [26]:
var4 = 1.

In [27]:
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [29]:
# Ans: i) /

a = 10
b = 20
a / b

0.5

In [30]:
# ii) %

a = 23
b = 10

a % b

3

In [34]:
# iii) //

5 // 4

1

In [35]:
# iv) **

3 ** 4

81

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [36]:
# Ans: 

l = [2,3,4,5,"rishabh","anshu",True,45.678]

for i in l :
    print(type(i))
    print(i)

<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'str'>
rishabh
<class 'str'>
anshu
<class 'bool'>
True
<class 'float'>
45.678

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [41]:
# Input numbers A and B
A = int(input("Enter no. A: "))
B = int(input("Enter no. B: "))

# Initialize count
count = 0

# Check if A is divisible by B
while A % B == 0:
    A = A / B
    count += 1

# Output the result
if count > 0:
    print(f"{B} can divide {A} evenly {count} times.")
else:
    print(f"{B} cannot divide {A}.")

Enter no. A:  245
Enter no. B:  5

5 can divide 49.0 evenly 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [42]:
# Create a list containing 25 integers
l = list(range(1, 26))

# Iterate through the list and check divisibility by 3
for num in l:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Ans : Mutable Data Types: The object where the data can be modified any time is known as Mutable Data Type.
For example - List

Immutable Data Types: The object where the data can't be modified is known as Immutable Data Type.
For example - String

In [43]:
# Mutable Data Type:

list = [2, 3,'rishabh',True,45.98,'anshu',450]

In [48]:
list[0] = 'cake'

In [49]:
list

['cake', 3, 'rishabh', True, 45.98, 'anshu', 450]

In [50]:
# therefre as the index value 0 has been changed from 2 to 'cake'.

In [51]:
# Immutable Data Type :

a = 'rishabh'

In [52]:
a

'rishabh'

In [53]:
a = 'anshu'

In [54]:
a

'anshu'

In [55]:
# Therefore, from the above example we stored two different string vale in same variable 'a' 
# but the rishabh is erased and anshu had been stored.